.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-3 {
  padding: 16px;
}
.p-4 {
  padding: 24px;
}
.p-5 {
  padding: 32px;
}
.p-6 {
  padding: 48px;
}
.p-7 {
  padding: 60px;
}
.p-8 {
  padding: 100px;
}

// Margin
.m-0 {
  margin: 0px;
}
.m-1 {
  margin: 4px;
}
.m-2 {
  margin: 8px;
}
.m-3 {
  margin: 16px;
}
.m-4 {
  margin: 24px;
}
.m-5 {
  margin: 32px;
}
.m-6 {
  margin: 48px;
}
.m-7 {
  margin: 60px;
}
.m-8 {
  margin: 100px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-3 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-4 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-5 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.my-6 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.my-7 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.my-8 {
  margin-top: 100px;
  margin-bottom: 100px;
}
