<div class="theme-container">
  <div class="theme-wrapper">
    <div class="color-primary theme-box"></div>
    <div class=""><code>Primary</code></div>
  </div>
  <div class="theme-wrapper">
    <div class="color-accent theme-box"></div>
    <div class=""><code>Accent</code></div>
  </div>
  <div class="theme-wrapper">
    <div class="color-warn theme-box"></div>
    <div class=""><code>Warn</code></div>
  </div>
  <div class="theme-wrapper">
    <div class="color-disabled theme-box"></div>
    <div class=""><code>Disabled</code></div>
  </div>
</div>
