<div class="component_grid--row">
  <button mat-flat-button color="primary" class="btn">Primary</button>
  <button mat-flat-button disabled color="primary" class="btn">Primary</button>
</div>
<div class="component_grid--row">
  <button mat-stroked-button color="primary" class="btn btn-outline">
    Primary
  </button>
  <button mat-stroked-button disabled color="primary" class="btn btn-outline">
    Primary
  </button>
</div>
<div class="component_grid--row section">
  <button mat-flat-button color="primary" class="btn">
    Primary
    <mat-icon
      iconPositionEnd
      aria-hidden="false"
      aria-label="button"
      fontIcon="arrow_forward"
    ></mat-icon>
  </button>
  <button mat-flat-button disabled color="primary" class="btn">
    Primary
    <mat-icon
      iconPositionEnd
      aria-hidden="false"
      aria-label="button"
      fontIcon="arrow_forward"
    ></mat-icon>
  </button>
</div>
<div class="component_grid--row">
  <button mat-stroked-button color="primary" class="btn btn-outline">
    Primary
    <mat-icon
      iconPositionEnd
      aria-hidden="false"
      aria-label="button"
      fontIcon="arrow_forward"
    ></mat-icon>
  </button>
  <button mat-stroked-button disabled color="primary" class="btn btn-outline">
    Primary
    <mat-icon
      iconPositionEnd
      aria-hidden="false"
      aria-label="button"
      fontIcon="arrow_forward"
    ></mat-icon>
  </button>
</div>

<div class="component_grid--row section">
  <button mat-flat-button color="primary" class="btn-sm">Primary</button>
  <button mat-flat-button disabled color="primary" class="btn-sm">
    Primary
  </button>
</div>
<div class="component_grid--row">
  <button mat-stroked-button color="primary" class="btn-sm btn-outline">
    Primary
  </button>
  <button
    mat-stroked-button
    disabled
    color="primary"
    class="btn-sm btn-outline"
  >
    Primary
  </button>
</div>
<div class="component_grid--row section test">
  <button
    mat-flat-button
    color="primary"
    class="btn"
    [matMenuTriggerFor]="menu"
  >
    Menu
    <mat-icon
      iconPositionEnd
      aria-hidden="false"
      aria-label="button"
      fontIcon="expand_more"
    ></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div>
<div class="component_grid--row section test">
  <button mat-button color="primary" class="btn-sm" [matMenuTriggerFor]="menu">
    Menu
    <mat-icon aria-hidden="false" aria-label="button" fontIcon="add"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div>

<div class="component_grid--row section test">
  <button
    disabled=""
    mat-button
    color="primary"
    class="btn-sm"
    [matMenuTriggerFor]="menu"
  >
    Menu
    <mat-icon aria-hidden="false" aria-label="button" fontIcon="add"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div>
