:root {
  /* Core Colors */
  --cnp-energy-blue: #0099d8;
  --light-blue: #80cceb;
  --lightest-blue: #e6f5fb;
  --cnp-button-blue: #0099d8;

  /* Black-Grey-White Colors */
  --black: #000000;
  --grey-90: #373737;
  --grey-80: #616969;
  --grey-60: #707b7c;
  --grey-50: #b7bdbd;
  --grey-40: #e5e7e7;
  --grey-30: #f2f3f3;
  --offwhite: #fafafa;
  --white: #ffffff;

  /* Secondary Colors */
  --rubine-red: #c7002e;
  --accessible-orange: #be5900;
  --new-yellow: #f6cf5c;
  --accessible-green: #008458;
  --dark-blue: #00709e;
  --button-blue: #0074ad;
  --purple: #352697;
  --link-blue: #225eb9;
  --red: #ed1b2d;
  --orange: #f79239;
  --new-green: #2fba8b;
  --lighter-blue: #cdeefc;
  --pale-red: #fde8ea;
  --pale-orange: #fef4eb;
  --pale-yellow: #fffded;
  --pale-green: #eaf8f3;
  --pale-blue: #f5fbfd;
  --pale-purple: #f3f2f9;

  /* CrewPoint */
  --mustard: #8d6e00;
  --dark-orange: #c15425;
  --light-purple: #a43dc9;

  /* Annotation Colors */
  --bright-magenta: #ff0fe7;
}
