.btn {
  border-radius: 20px !important;
  padding: 2px 30px !important;
  &.btn-outline {
    border: 1px solid var(--cnp-energy-blue) !important;
    &[disabled] {
      border: 1px solid var(--grey-40) !important;
    }
  }
}

.btn-sm {
  padding: 0px 10px !important;
  border-radius: 20px !important;
  &.btn-outline {
    border: 1px solid var(--cnp-energy-blue) !important;
    &[disabled] {
      border: 1px solid var(--grey-40) !important;
    }
  }
}
